{% extends 'base.html.twig' %}

{% block title %}Liste des employés
{% endblock %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employes %}
				<tr>
					<td>{{employe.id}}</td>
					<td>{{employe.nom}}</td>
					<td>{{employe.prenom}}</td>
					<td>
						<a href="">Détails</a>
						<a href="">Modifier</a>
						<a href="">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="">Ajouter un employé</a>
{% endblock %}
