{% extends "base.html.twig" %}

{% block title %}Nouvel emlpoyé
{% endblock %}

{% block body %}

	<h1>Création d'un employé</h1>

	<form action="">
		<label for="nom">Nom</label>
		<input type="text" name="nom" id="nom">

		<label for="prenom">Prénom</label>
		<input type="text" name="prenom" id="prenom">

		<button>Enregistrer</button>
	</form>


{% endblock %}
